// primary
$primaryMain: #001c5a;
$primaryLight: #003ab8;

// secondary
$secondaryMain: #1fcbac;

:export {
  primaryMain: $primaryMain;
  secondaryMain: $secondaryMain;
  primaryLight: $primaryLight;
}
